.btn {
    width: 5rem;
    height: 1.7rem;
    border: none;
    margin: 0 0.2rem;
    color: white;

}
.btn:focus{
    outline: none;
}
.btn-edit{
    background: green;
    color: white;
}

.btn-delete{
    margin-left: 10;
    background: red;
    color: white;
    padding-right:10;
}
.btn-info{
    background: #EB92BE;
}